{% extends "layout.html" %}
{% block body %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
  	<div class="container">
      <h1>Edit Profile</h1>
      {% if alert_success %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Success!</strong> Your profile has been updated :)
        </div>
      {% elif alert_failure %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oh Crap!</strong> Something went wrong and your profile was not updated :(
        </div>
      {% endif %}
    </div>
    <div class="container signup_form_wrapper">
      <form role="form" action="editprofile" method=post>
        <div class="form-group">
          <input type=text name=image placeholder="Image" class="form-control">
        </div>
        <div class="form-group">
          <input type=text name=firstname placeholder={% if current_user.firstname %} {{ current_user.firstname }} {% else %}"First Name"{% endif %} class="form-control">
        </div>
        <div class="form-group">
          <input type=text name=lastname placeholder={% if current_user.lastname %} {{ current_user.lastname }} {% else %}"Last Name"{% endif %} class="form-control">
        </div>
        <div class="form-group">
          <input type=textarea name=bio type="text" placeholder={% if current_user.bio %} {{ current_user.bio }} {% else %}"Tell us about yourself!"{% endif %} class="form-control">
        </div>
        <div class="form-group">
          <input type=text name=facebook placeholder={% if current_user.facebook %} {{ current_user.facebook }} {% else %}"Facebook"{% endif %} class="form-control">
        </div>
        <div class="form-group">
          <input type=text name=twitter placeholder={% if current_user.twitter %} {{ current_user.twitter }} {% else %}"Twitter"{% endif %} class="form-control">
        </div>
        <div class="form-group">
          <input type=text name=website placeholder={% if current_user.website %} {{ current_user.website }} {% else %}"Website"{% endif %} class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
      </form>
    </div>
  </div>
{% endblock %}