{% extends "layout.html" %}
{% block body %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container" style="padding-top: 30px;">
      <h1>Welcome to iCongress!</h1>
      <p>In a world filled with misinformation, talking heads and inflated egos, it can be hard to tell what is a fact and what is not. iCongress allows you to vote on real legislation that has been brought up in the US Congress (whether or not the bill died before becoming a law). We take your votes and develop a compatibility score for every Member of Congress, so you can see who <i>actually</i> votes with you on the issues that really do matter. Sign up and start now!</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="signup">Sign Up! &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Step 1: Vote</h2>
        <p>T generate your compatibility scores, we first need your votes! Filter through <i>real</i> legislation by topic, date range, session of Congress, administration, chamber, etc. View and study the legislation, to educate yourself before making your vote. And don't worry, if you change your mind, you can change your vote!</p>
      </div>
      <div class="col-md-4">
        <h2>Step 2: Compare</h2>
        <p>Once you have voted on legislation you can start comparing Members of Congress to see how they all relate to you and your 'voting record'. Just like with the legislation, you can filter and view Members of Congress by topic, date range, session of Congress, administration, chamber, party, etc.</p>
     </div>
      <div class="col-md-4">
        <h2>Step 3: Tell the World!</h2>
        <p>Once you've played with our system a bit and developed a solid voting record, share it with your friends! If you pair your account with Facebook, then you can compare your voting record with your friends as well!</p>
      </div>
    </div>
  </div>
{% endblock %}