<!DOCTYPE HTML>

<!-- ===============================================================
 * Filename: layout.html
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Notes:
 * =============================================================-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>iCongress | Know who you're voting for!</title>

<!-- Bootstrap core CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/style.css') }}">

<div class=page>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">iCongress</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% block navbar %}{% endblock %}
          {% if error %}<li><a href="#" style="color:red;"><strong>Error:</strong> {{ error }}</a></li>{% endif %}
	      </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

	{% block body %}{% endblock %}

  <div class="container">
    <hr>

    <footer>
      <p>&copy; iCongress 2014</p>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script type="text/javascript">{{ auth_script|safe }}</script>
</div>