<!DOCTYPE HTML>

<!-- ===============================================================
 * Filename: layout.html
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Notes:
 * =============================================================-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>iCongress | Know who you're voting for!</title>

<!-- Bootstrap core CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/persona-buttons.css') }}">

<div class=page>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">iCongress</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% if current_user.is_authenticated() %}
      <ul class="nav navbar-nav">
        <li><a href="browse">Browse</a></li>
        <li><a href="blog">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Voting <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="votingrecord">Voting Record</a></li>
            <li><a href="vote">Go Vote</a></li>
            <li><a href="compatibility">See Compatibility List</a></li>
          </ul>
        </li>
        <li>{{ error }}</li>
      </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
      <li>
        {% if current_user.is_authenticated() %}
          <li><a href="profile">Welcome{% if current_user.firstname %}, {{ current_user.firstname }} {{ current_user.lastname }}{% endif %}!</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default btn-lg hide-button cog" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="editprofile">Edit Profile</a></li>
              <li><a href="settings">Settings</a></li>
              <li class="divider"></li>
              <li><button id="browserid-logout" class="persona-logout-button"><a href="#" class="persona-button"><span>Logout</span></a></button></li>
            </ul>
          </li>
        {% else %}
            <li><button id="browserid-login" class="persona-login-button"><a href="#" class="persona-button"><span>Sign in with your Email</span></a></button></li>
        {% endif %}
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  {% block body %}{% endblock %}

  <div class="container">
    <hr>

    <footer>
      <p>&copy; iCongress 2014</p>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script type="text/javascript">{{ auth_script|safe }}</script>
</div>