<!DOCTYPE HTML>

<!-- ===============================================================
 * Filename: layout.html
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Notes:
 * =============================================================-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>iCongress | Know who you're voting for!</title>

<!-- Bootstrap core CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/style.css') }}">

<div class=page>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">iCongress</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          {% if error %}<li><a href="#" style="color:red;"><strong>Error:</strong> {{ error }}</a></li>{% endif %}
	        <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
	        </li>-->
	      </ul>
	      {% if not session.logged_in %}
	        <form class="navbar-form navbar-right" role="form" action="{{ url_for('login') }}" method=post>
	          <div class="form-group">
	            <input type=text name=email type="text" placeholder="Email" class="form-control">
	          </div>
	          <div class="form-group">
	            <input type=password name=password placeholder="Password" class="form-control">
	          </div>
	          <button type="submit" class="btn btn-success">Sign in</button>
	        </form>
		    {% else %}
	      	<ul class="nav navbar-nav navbar-right">
        		<li><a href="{{ url_for('logout') }}">Logout</a></li>
        	</ul>
		    {% endif %}
		    
      </div><!--/.navbar-collapse -->
    </div>
  </div>

	{% block body %}{% endblock %}

  <div class="container">
    <hr>

    <footer>
      <p>&copy; iCongress 2014</p>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script
</div>