/* ===============================================================
 * Filename: style.css
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Notes:
 * =============================================================*/

/* ==================== TYPOGRAPHY ==================== */
.signup_form_wrapper {
	padding-top: 20px;
}

/* ====================== LAYOUT ====================== */
.persona-login-button {
	margin-top: 13px;
	background: transparent;
	border: none; float;
	position: absolute;
	margin-left: 60%;
    float: right !important;
}

.social_icons {
	height: 35px;
	width: 35px;
}