/* ===============================================================
 * Filename: style.css
 * Author: John Zeller
 * Date Created: January 7, 2014
 * Recently Updated: January 7, 2014
 * ------
 * Notes:
 * =============================================================*/

/* ==================== TYPOGRAPHY ==================== */
.signup_form_wrapper {
	padding-top: 20px;
}

/* ====================== LAYOUT ====================== */
.persona-login-button {
	margin-right: 20px;
	margin-top: 15px;
	background: transparent;
	border: none;
}

.persona-logout-button {
	margin-left: 15px;
	background: transparent;
	border: none;
}

.hide-button {
	background: transparent;
	border: none;
	color: #999999;
}

.hide-button:hover {
	background: transparent;
	border: none;
	color: #999999;
}

.cog {
	margin-right: 10px;
}

.social_icons {
	height: 35px;
	width: 35px;
}