/* ===============================================================
 * Filename: style.css
 * Author: John Zeller
 * Date Created: November 10, 2012
 * Recently Updated: November 14, 2012
 * ------
 * Notes:
 * =============================================================*/


/* ==================== TYPOGRAPHY ==================== */
body{
	background-color:#0099CC;
}

h1{
	color:black;
	text-align:center;
}

p{
	font-family:"Helvetica";
	font-size:20px;
}

table
{
	border-collapse: collapse;
}

td
{
	padding-right: 30px;
	width: 12%;
}

/* ====================== LAYOUT ====================== */
#main
{
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
	margin-bottom: 30px;
        position: relative;
        text-align: center;
        width: 100%;
        height: auto;
        float: left;
}

#title
{
	height: 35px;
}

#intro
{
	margin-left: 8%;
	margin-right: 8%;
        height: auto;
}

#info
{
	width: 80%;
}

#input
{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	margin-top: 60px;
	margin-left: 60px;
	text-align: left;
        height: auto;
	width: 200px;
	float: left;
}

#results
{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background-color: #FFFFFF;
        margin-top: 60px;
        margin-left: 60px;
        text-align: left;
        height: auto;
        width: 68%;
        float: left;
}

#indent
{
	text-indent: 5em;
}

#leftcolumn
{
	float: left;
}

#rightcolumn
{
	float: right;
}
